<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'CSS/base.css' %}">
	{% block styles %}
	{% endblock %}
	<title>Logo</title>
</head>
<body>
	<div class="page">
		<header>
			<div class="container">
				<h4 class="logo"><a href="http://127.0.0.1:8000/">Logo</a></h4>
				<div class="menu">
					<ul>
						<li class="home"><a href="http://127.0.0.1:8000/">Главная</a></li>
						<li class="anime"><a href="#">Аниме</a></li>
						<li class="film"><a href="http://127.0.0.1:8000/films">Фильмы</a></li>
						<li class="series"><a href="#">Сериалы</a></li>
					</ul>
					<div class="search"><img src="{% static 'img/search.svg' %}" alt="search"></div>
				</div>
				<div class="profile">
					<img src="{% static 'img/incognito.png' %}" alt="profile">
					<div class="login">
						<div class="login-container">
							<img src="{% static 'img/login.svg' %}" alt="login">
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="left-border"></div>
			<div class="right-border"></div>
			<div class="main-container">
				{% block main %}
       			{% endblock %}
			</div>
		</div>
		<footer></footer>
		{% block scripts %}
		{% endblock %}
	</div>
</body>
</html>