<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'CSS/base_home.css' %}">
	<title>Logo</title>
</head>
<body>
	<div class="page">
		<header>
			<div class="container">
				<h4 class="logo"><a href="http://127.0.0.1:8000/">Viewell</a></h4>
				<div class="menu">
					<div class="show_menu" id="menu_without_search">
						<ul>
							<li class="home"><a href="http://127.0.0.1:8000/">Главная</a></li>
							<li class="anime"><a href="http://127.0.0.1:8000/animes">Аниме</a></li>
							<li class="film"><a href="http://127.0.0.1:8000/films">Фильмы</a></li>
							<li class="series"><a href="http://127.0.0.1:8000/serials">Сериалы</a></li>
						</ul>
					</div>
					<div class="bar_container">
						<input type="text" class="search_bar hide" id="search_bar" placeholder="Название фильма, сериала, аниме и т.д."/>
					</div>
					<div class="search" id="search" onclick="ShowHide_Menu(); OpenClose_SearchBar();"><img src="{% static 'img/search.svg' %}" alt="search"></div>
				</div>
				<div class="profile">
					{% if logged_in %}
						<img src="media/{{user.ava}}" alt="profile">
					{% else %}
						<img src="{% static 'img/incognito.png' %}" alt="profile">
					{% endif %}
					<img src="{{user.ava}}" alt="profile">
					<div class="login">
						<div class="login-container">
							<a href="http://127.0.0.1:8000/log_in"><img src="{% static 'img/login.svg' %}" alt="login"></a>
						</div>
					</div>	
				</div>
			</div>
		</header>
		{% block main %}
       	{% endblock %}
		<footer></footer>
		<script src="{% static 'JS/search-bar.js' %}"></script>
	</div>
	{% block scripts %}
	{% endblock %}
</body>
</html>