{% extends 'base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'CSS/cardstyle.css' %}">
<link rel="stylesheet" href="{% static 'CSS/list_base.css' %}">

{% endblock %}

{% block main %}
{% for movie in movies %}
<div class="razmer">
		<div class="cardfield">
			<div class="cardimg">
				<img src="media/{{ movie.image }}">
			</div>
			<!--<div class="cardname">
				<p>Dr. Strange(2016)</p>
			</div> -->
			<div class="carddesc">
				<p>{{ movie.name }}</p>
				<p class="description">{{movie.description}}</p>
				<div class="watchbutton">
					<a href="movie/{{movie.movieId}}">Смотреть</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}