{% extends 'base.html' %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'CSS/cardstyle.css' %}">
<link rel="stylesheet" href="{% static 'CSS/list_base.css' %}">

{% endblock %}

{% block main %}
{% for movie in movies %}
<div class="razmer">
		<div class="cardfield">
			<div class="cardimg">
				<img src="media/{{ movie.image }}">
			</div>
			<div class="cardname">
				<p>{{ movie.name }}</p>
			</div>
			<div class="carddesc">
				<!--<p>{{ movie.name }}</p>-->
				<p class="description">Description: From Marvel Studios comes “Doctor Strange,” the story of world-famous neurosurgeon Dr. Stephen Strange whose life changes forever after a horrific car accident robs him of the use of his hands. When traditional medicine fails him, he is forced to look for healing, and hope, in an unlikely place—a mysterious enclave known as Kamar-Taj. Before long Strange—armed with newly acquired magical powers—is forced to choose whether to return to his life of fortune and status or leave it all behind to defend the world as the most powerful sorcerer in existence.</p>
				<div class="watchbutton">
					<a href="movie/{{movie.movieId}}">Смотреть</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}