{% extends 'base.html' %}
{% load static %}

{% block main %}
    <p>{{ magnet }}</p>
    <div class="myVideo"></div>

    <!-- Include WebTorrent -->
    <script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>
    <!-- Torrent streaming -->
    <script>
        const seed = new File([torrentPath])
        torrentId = {{magnet}}
        torrentId = torrentId.replace(/&amp;/g, '&')
        console.log(torrentId)
        const client = new WebTorrent()
        client.seed({{ seed }})
        console.log(seed)
        client.add(torrentId, onTorrent)

        // Render media files into to the page
        function onTorrent (torrent) {
            torrent.files.forEach(function (file) {
                if (file.name.endsWith('.mp4'))
                {
                    file.appendTo('.myVideo')
                }
            })
        }
    </script>

{% endblock %}

